$COLORS: (
    BRIGHT:(
        100: hsl(0, 0%, 97%),
        200: hsl(0, 0%, 88%),
        300: hsl(0, 0%, 78%),
        400: hsl(0, 0%, 69%),
        500: hsl(0, 0%, 59%),
        600: hsl(0, 0%, 49%),
        700: hsl(0, 0%, 40%),
        800: hsl(0, 0%, 30%),
        900: hsl(0, 0%, 21%),
        1000: hsl(0, 0%, 11%),
    ),
    BROWN:(
        100: hsl(36, 43%, 85%),
        200: hsl(28, 60%, 64%),
        300: hsl(15, 77%, 24%),
        400: hsl(33, 41%, 59%),
        500: hsl(31, 100%, 24%),
        600: hsl(25, 34%, 33%),
        700: hsl(19, 29%, 28%),
        800: hsl(33, 41%, 59%),
        900: hsl(30, 35%, 64%),
        1000: hsl(21, 18%, 50%)
    )
);