body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-200);
    font-family: Joynoted;

    .sheetpaper{
        width: 40em;
        height: 45em;
        background-color: var(--clr-100);
        box-shadow: 30px 30px var(--clr-900);
        

        &__title{

        }

        &__blackspace{

        }

        &__container{
            &__but-incomplete{
                
            }
            &__but-complete{

            }
            &__text-incomplete{
                
            }
            &__text-complete{

            }
        }
    }
}