body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-200);
    font-family: Caviar;

    .sheetpaper{
        width: 40em;
        height: 45em;
        background-color: var(--clr-100);
        box-shadow: 30px 30px var(--clr-1000);
        padding: var(--fs-700);
        display: flexbox;
        justify-content: start;
        align-items: center;
        flex-direction: column;

        &__title{
            font-size: var(--fs-400);
            line-height: normal;
            text-align: center;
            margin: var(--fs-500);
            color: var(--clr-900);
        }

        &__blackspace{
            width: 100%;
            border: none;
            background-color: transparent;
            outline: none;
            padding: 0.1rem;
            text-align: center;
            color: var(--clr-800);
        }

        &__line{
            width: auto;
            height: 2px;
            margin: 0; 
            background-color: var(--clr-1000);
        }

        &__container{
            padding: var(--fs-500);
            display: flexbox;
            flex-direction: column;

            &__todo{
                padding: 0.5em;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 0.5em;
                cursor: pointer;

                &__check{
                    accent-color: var(--clr-900);
                }

                &__but{
                    width: 1rem;
                    height: 1rem;
                    background-color: transparent;
                    border: 2px solid var(--clr-900);
                }

                &__text-incomplete{
                    color: var(--clr-900);
                    margin: 0;
                    font-size: 0.8rem;
                    line-height: 0.8em;
                    vertical-align: baseline;
                }

                &__text-complete{
                    color: var(--clr-600);
                    margin: 0;
                    font-size: 0.8rem;
                    line-height: 0.8em;
                    vertical-align: baseline;
                    text-decoration: line-through;
                }
            }
        }
    }
}